body {
    background-color: #010409; 
    color: white;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
a:link    { color: white; text-decoration: none; }
a:visited { color: white; }
a:hover   { color: white; text-decoration: underline; }
a:focus   { outline: 1px solid blue; }
a:active  { color: white ;}

header {
    background-color: #161b22;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;

    ul {

        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    

        li {
            list-style: none;
            width: 20vw;
            margin: 0;
            padding: 0;

            a {
                
            }
            a.tf-navlinkhome {

            }
            a.tf-navlinkcareer {
                
            }
            a.tf-navlinkeducation {
                
            }
            a.tf-navlinkportfolio {
                
            }
            a.tf-navlinkabout {
                
            }
        }
    }
}

main {
    margin-top: 200px;
    padding: 0;
}

h1 {}

.tf-signinform {

    form {
        display: flex;
        flex-direction: column;
    }


    // .tf-signinform
}